<!--nav links-->
<div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid ">
            <a class="navbar-brand " href="/views/index "><span style="color: #F76E11; ">Fo</span><span>rsa</span></a>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
          </button>

        </div>
        <div class="collapse navbar-collapse float-end " id="navbarNavAltMarkup ">
            <div class="navbar-nav ">
                <a class="nav-link active " aria-current="page " href="/index">Home</a>
                <a class="nav-link " href="view/services.html ">Sevices</a>
                <a class="nav-link " href="view/Concatus.html ">ConcatUs</a>
                <a class="nav-link " href="view/Concatus.html ">Faviorites</a>

                <a class="nav-link " href="view/AboutLUs.html ">AboutLUs</a>
                <a class="nav-link " href="view/Concatus.html ">Setting</a>
                <a class="nav-link d-flex justify-content-center mb-2 align-items-center gap-2 btn btn-outline-warning me-2 mb-sm-3 " href="signup ">
                    <span>
                        <svg width="29px " height="29px " viewBox="0 0 49 49 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                            <path fill-rule="evenodd " clip-rule="evenodd " d="M24.5 23.98C28.354 23.98 31.5 20.832 31.5 16.9133C31.5 12.9946 28.354 9.84668 24.5 9.84668C20.646 9.84668 17.5 12.9946 17.5 16.9133C17.5 20.832 20.646 23.98 24.5 23.98ZM33.5
        16.9133C33.5 21.9227 29.4725 25.98 24.5 25.98C19.5275 25.98 15.5 21.9227 15.5 16.9133C15.5 11.904 19.5275 7.84668 24.5 7.84668C29.4725 7.84668 33.5 11.904 33.5 16.9133Z " fill="#444749 "/>
                            <path fill-rule="evenodd " clip-rule="evenodd " d="M18.6254 29.7991C18.3971 29.3313 17.8814 29.0785 17.3786 29.2021C11.9745 30.5301 6.5 33.238 6.5 37.3116V39.845C6.5 40.9495 7.39543 41.845 8.5 41.845H40.5C41.6046 41.845 42.5
        40.9495 42.5 39.845V37.3116C42.5 33.238 37.0255 30.5301 31.6214 29.2021C31.1186 29.0785 30.6029 29.3313 30.3746 29.7991L26.3105 32.7991C25.4218 32.7993 24.9693 32.7993 24.5248 32.7993C24.0637 32.7992 23.6112 32.7992 22.6893 32.7994L18.6254 29.7991ZM31.7205
        31.2915L26.9689 34.799L26.3109 34.7991C25.4163 34.7993 24.9661 34.7993 24.524 34.7993C24.0658 34.7992 23.6163 34.7992 22.6898 34.7994L22.0312 34.7996L17.2795 31.2915C14.9077 31.9204 12.6639 32.8054 11.0162 33.8953C9.19262 35.1016 8.5 36.2704 8.5 37.3116V39.845H40.5V37.3116C40.5
        36.2704 39.8074 35.1016 37.9838 33.8953C36.3361 32.8054 34.0924 31.9204 31.7205 31.2915Z " fill="#444749 "/>
                            </svg>
                            
                    </span> SignUp
                </a>


                <a class="nav-link d-flex justify-content-center align-items-center gap-3 btn btn-outline-warning me-2 mb-sm-3 " href="view/login.html ">
                    <span>
                        <?xml version="1.0 " encoding="iso-8859-1 "?>
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1 " id="Capa_1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px "
	fill="#444749 " viewBox="0 0 481.5 481.5 " style="enable-background:new 0 0 481.5 481.5; height: 20px; width:20px; " xml:space="preserve ">
<g>
	<g>
		<path d="M0,240.7c0,7.5,6,13.5,13.5,13.5h326.1l-69.9,69.9c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l93-93 c5.3-5.3,5.3-13.8,0-19.1l-93-93c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1l69.9,69.9h-326C6,227.2,0,233.2,0,240.7z "/>
		<path d="M382.4,0H99C44.4,0,0,44.4,0,99v58.2c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5V99c0-39.7,32.3-72,72-72h283.5 c39.7,0,72,32.3,72,72v283.5c0,39.7-32.3,72-72,72H99c-39.7,0-72-32.3-72-72V325c0-7.5-6-13.5-13.5-13.5S0,317.5,0,325v57.5 c0,54.6,44.4,99,99,99h283.5c54.6,0,99-44.4,99-99V99C481.4,44.4,437,0,382.4,0z "/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                    </span> LogIn
                </a>

            </div>
        </div>
    </nav>

</div>