<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>

</head>

<body>
    <div class="container ">
        <div class="row gutters h-100 ">
            <div class=" col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ">
                <div class="card card2-nav h-100 ">
                    <div class="card-body ">
                        <div class="account-settings ">
                            <div class="user-profile text-center " style="">
                                <div class="user-avatar ">
                                    <img src="../assest/1643557611740.jpg " alt=" " class=' rounded-circle'>
                                </div>
                                <div>
                                    <h5 class="user-name mb-0 mt-3 ">Thorya Abdu</h5>
                                    <h6 class="user-desc text-muted mt-0 " style='font-size: 14px;'>web developer</h6>
                                </div>
                            </div>
                            <div class="links mt-5 ">
                                <ul class="text-capitalize text-start mt-5 ">
                                    <li>
                                        <a href="dashboard.html ">personal</a>
                                    </li>
                                    <li>
                                        <a href="education.html ">education</a>
                                    </li>
                                    <li>
                                        <a href="experinces.html ">experince</a>
                                    </li>
                                    <li>
                                        <a href="skills.html ">skills</a>
                                    </li>
                                    <li>
                                        <a href="course.html ">course</a>
                                    </li>
                                    <li>
                                        <a href="personal.html ">logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 mt-5 ">
                <div>
                    <div class="card card3-nav">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-3 ">Personal Detail</h6>
                                </div>
                                <div class=" img col-12 ">
                                    <img src="" alt="" class="rounded-circle bg-light " width="150 ">

                                    <input type="file" name=" " id="file-img " accept="image/*">
                                    <label for=""></label>
                                </div>
                                <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                    <div class="form-group ">
                                        <label for="fName ">first Name</label>
                                        <input type="text " class="form-control " id="fName " placeholder="Enter first name ">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                    <div class="form-group ">
                                        <label for="sName ">Second Name</label>
                                        <input type="text " class="form-control " id="sName " placeholder="Enter full name ">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                    <div class="form-group ">
                                        <label for="lName ">last Name</label>
                                        <input type="text " class="form-control " id="lName " placeholder="Enter full name ">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                    <div class="form-group ">
                                        <label for="phone ">Phone</label>
                                        <input type="text " class="form-control " id="phone " placeholder="Enter phone number ">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                    <div class="form-group ">
                                        <label for="email ">Email</label>
                                        <input type="email " class="form-control " id="email " placeholder="Enter email ">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                    <div class="form-group ">
                                        <label for="ciTy ">Country/City</label>
                                        <input type="name " class="form-control " id="ciTy " placeholder="Enter City ">
                                    </div>
                                </div>
                            </div>

                            <div class="row gutters ">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-5 ">
                                    <div class="text-right d-flex justify-content-around ">
                                        <button type="button " id="submitrem " name="submit " class="btn btn-secondary ">cancel</button>
                                        <button type="button " id="submitadd " name="submit " class="btn btn-primary nice-btn">Save</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/jquery.min.js "></script>
    <script src="js/script.js "></script>
</body>

</html>