<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>


<body>
    <div class="login-container container  mt-4">
        <div class="loginbox bg-white position-relative pb-5  ">
            <div class="loginbox-title fw-bold text-center p-3 ">SIGN IN</div>
            <div class="loginbox-social text-center p-3">
                <div class="social-title ">Connect with Your Social Accounts</div>
                <div class="social-buttons d-flex justify-content-between">
                    <a href="" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                    </a>

                    <a href="" class="button-google">
                        <i class="social-icon fa fa-google"></i>
                    </a>
                </div>
            </div>
            <div class="loginbox-or text-center  position-relative">
                <div class="or-line position-absolute"></div>
                <div class="or position-absolute bg-white ">OR</div>
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="Password">
            </div>
            <div class="loginbox-forgot p-5 pt-2 pb-0">
                <a href="">Forgot Password?</a>
            </div>
            <div class="loginbox-submit p-2 pt-3 ">
                <input type="button" class="btn btn-warning text-white  w-100 " value="Login">
            </div>
            <div class="loginbox-signup text-center">
                <a href="signup">Sign Up </a>
            </div>
        </div>
        <div class="logobox p-3 mt-4">
        </div>
    </div>

    <script src="javascripts/bootstrap.min.js "></script>
    <script src="javascripts/jquery.min.js "></script>
    <script src="javascripts/script.js"></script>
</body>

</html>